.appBar {
	border-bottom: '1px solid rgba(0, 0, 0, 0.12)';
}
.title {
	flex-grow: 1;
	align-items: center;
	display: flex;
	text-decoration: none;
}
.image {
	margin-right: 10px;
}
.menuButton {
}
.grow {
	flex-grow: 1;
}
.search {
	position: relative;
	margin-left: 0;
	width: 100%;
}
.searchIcon {
	height: 100%;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;
}
.inputRoot {
	color: inherit;
}
.inputInput {
	width: 100%;
}
