.media {
	height: 260;
}
.cardContent {
	display: flex;
	justify-content: space-between;
}
.cartActions {
	justify-content: space-between;
}
.buttons {
	display: flex;
	align-items: center;
}
.buttonsfontSize {
	font-size: small;
}
